body {
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}
.item-content { 
	-moz-column-count:4; /* Firefox */
	-webkit-column-count:4; /* Safari 和 Chrome */
	column-count:4;
	-moz-column-gap: 12px;
	-webkit-column-gap: 12px;
	column-gap: 12px;
	width: 60%;
    margin: 0 auto;
}
.item-block {
	margin-bottom: 12px;
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
	overflow: hidden;
    position: relative;
}
.item-block img {
	width: 100%;
}
.item-title {
	border-top: 1px solid #ddd;
    text-align: left;
    padding: 8px 20px;
	background-color: #f5f5f5;
}
.item-title p {
	margin: 5px 0;
}