body {
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}
*{
    margin: 0px;
    padding: 0px;
}
.item-content { 
	width: 60%;
    margin: 0 auto;
	/* flex */
	display: flex;
    justify-content: space-between;
}
.item-list {
	float: left;
	width: 23.8%;
    margin-left: 1.6%;/* 低版本兼容 */
}
.item-list:first-child {
	margin: 0;/* 低版本兼容 */
}
.item-block {
	width: 100%;
	margin-bottom: 12px;
	border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
	overflow: hidden;
    position: relative;
	float: left;
}
.item-block img {
	width: 100%;
	display: block;
}
.item-title {
	border-top: 1px solid #ddd;
    text-align: left;
    padding: 8px 20px;
	background-color: #f5f5f5;
}
.item-title p {
	margin: 5px 0;
}